<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="mylog" class="com.ethan.aspact.Logger"/>
    <bean id="userService" class="com.ethan.services.serviceimpl.UserServiceImpl"/>
    <aop:config>
        <aop:aspect id="log" ref="mylog">
            <aop:pointcut id="selectAll"
                          expression="execution(* com.ethan.services.serviceimpl.*.*(..))"/>
            <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
            <aop:after pointcut-ref="selectAll" method="afterAdvice" />
            <aop:after-returning pointcut-ref="selectAll"
                                 returning="retVal"
                                 method="afterReturningAdvice"/>
            <aop:after-throwing pointcut-ref="selectAll"
                                throwing="ex"
                                method="AfterThrowingAdvice"/>
            <!--<aop:around pointcut-ref="selectAll"-->
                                 <!--method="around"/>-->
        </aop:aspect>
    </aop:config>


</beans>